## Rough

In [2]:
import numpy as np

In [6]:
X = np.random.rand(15,5)

In [8]:
Y= np.random.rand(15,5)

In [33]:
Y.shape

(15, 5)

In [9]:
n=Y.shape[0]
m=X.shape[0]
params = [2,3,4]

In [10]:
H = np.zeros((n,m))

In [11]:
for i in range(0,n):
            for j in range(0,m):
                u = Y[i,:]
                v = X[j,:].T
                H[i,j] = np.exp(-(np.dot((u-v),(u-v).T)/2 * (params[0]**2)))

In [28]:
a = Y[1,:].reshape(5,1)
a.shape

(5, 1)

In [29]:
b = X[2,:].reshape(5,1)
b.shape

(5, 1)

In [30]:
c = X[2,:].reshape(5,1).T
c.shape

(1, 5)

In [31]:
a - b

array([[ 0.15077546],
       [ 0.02286311],
       [-0.14714407],
       [-0.2144884 ],
       [ 0.00502323]])

In [32]:
a - c

array([[ 0.15077546,  0.08109422, -0.3098962 , -0.2474702 ,  0.16890296],
       [ 0.09254435,  0.02286311, -0.3681273 , -0.30570131,  0.11067185],
       [ 0.31352758,  0.24384634, -0.14714407, -0.08471808,  0.33165508],
       [ 0.18375726,  0.11407602, -0.27691439, -0.2144884 ,  0.20188476],
       [-0.01310426, -0.0827855 , -0.47377592, -0.41134992,  0.00502323]])

In [25]:
(a-b).shape

(5,)

In [26]:
(a-b).T

array([ 0.15077546,  0.02286311, -0.14714407, -0.2144884 ,  0.00502323])

In [27]:
(a-c) * (a-b)

array([2.27332389e-02, 5.22721757e-04, 2.16513785e-02, 4.60052726e-02,
       2.52328830e-05])

In [34]:
H = np.dot(Y,X.T)  ** params[0]

In [54]:
x = np.array([[1,2,3],[1,2,3],[1,2,3]])
y = np.array([[2,2,2],[2,2,2]])

In [104]:
x = np.random.randint(1,5,30).reshape(10,3)
x

array([[2, 1, 4],
       [1, 2, 4],
       [1, 3, 2],
       [3, 1, 4],
       [2, 1, 4],
       [4, 3, 4],
       [3, 4, 1],
       [1, 4, 3],
       [3, 4, 4],
       [2, 4, 3]])

In [105]:
y = np.random.randint(1,7,15).reshape(5,3)
y

array([[3, 5, 4],
       [5, 6, 6],
       [4, 4, 5],
       [1, 3, 3],
       [4, 6, 6]])

In [106]:
m=x.shape[0]
n=y.shape[0]

In [108]:
np.dot(x,y.T)

array([[27, 40, 32, 17, 38],
       [29, 41, 32, 19, 40],
       [26, 35, 26, 16, 34],
       [30, 45, 36, 18, 42],
       [27, 40, 32, 17, 38],
       [43, 62, 48, 25, 58],
       [33, 45, 33, 18, 42],
       [35, 47, 35, 22, 46],
       [45, 63, 48, 27, 60],
       [38, 52, 39, 23, 50]])

In [109]:
np.dot(x,x.T)

array([[21, 20, 13, 23, 21, 27, 14, 18, 26, 20],
       [20, 21, 15, 21, 20, 26, 15, 21, 27, 22],
       [13, 15, 14, 14, 13, 21, 17, 19, 23, 20],
       [23, 21, 14, 26, 23, 31, 17, 19, 29, 22],
       [21, 20, 13, 23, 21, 27, 14, 18, 26, 20],
       [27, 26, 21, 31, 27, 41, 28, 28, 40, 32],
       [14, 15, 17, 17, 14, 28, 26, 22, 29, 25],
       [18, 21, 19, 19, 18, 28, 22, 26, 31, 27],
       [26, 27, 23, 29, 26, 40, 29, 31, 41, 34],
       [20, 22, 20, 22, 20, 32, 25, 27, 34, 29]])

In [110]:
H = np.zeros((m,n))
H

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [112]:
n

5

In [114]:
for i in range(0,m):
    for j in range(0,n):
        u = y[i,:]
        print(u)
        print(u.shape)
        v = x[j,:]
        print(v)
        print(v.shape)
        H[i,j] = np.dot(u,v.T)

[3 5 4]
(3,)
[2 1 4]
(3,)
[3 5 4]
(3,)
[1 2 4]
(3,)
[3 5 4]
(3,)
[1 3 2]
(3,)
[3 5 4]
(3,)
[3 1 4]
(3,)
[3 5 4]
(3,)
[2 1 4]
(3,)
[5 6 6]
(3,)
[2 1 4]
(3,)
[5 6 6]
(3,)
[1 2 4]
(3,)
[5 6 6]
(3,)
[1 3 2]
(3,)
[5 6 6]
(3,)
[3 1 4]
(3,)
[5 6 6]
(3,)
[2 1 4]
(3,)
[4 4 5]
(3,)
[2 1 4]
(3,)
[4 4 5]
(3,)
[1 2 4]
(3,)
[4 4 5]
(3,)
[1 3 2]
(3,)
[4 4 5]
(3,)
[3 1 4]
(3,)
[4 4 5]
(3,)
[2 1 4]
(3,)
[1 3 3]
(3,)
[2 1 4]
(3,)
[1 3 3]
(3,)
[1 2 4]
(3,)
[1 3 3]
(3,)
[1 3 2]
(3,)
[1 3 3]
(3,)
[3 1 4]
(3,)
[1 3 3]
(3,)
[2 1 4]
(3,)
[4 6 6]
(3,)
[2 1 4]
(3,)
[4 6 6]
(3,)
[1 2 4]
(3,)
[4 6 6]
(3,)
[1 3 2]
(3,)
[4 6 6]
(3,)
[3 1 4]
(3,)
[4 6 6]
(3,)
[2 1 4]
(3,)

IndexError: index 5 is out of bounds for axis 0 with size 5

In [101]:
H

array([[26., 56.],
       [42., 68.]])

In [116]:
G,L,P = 0,0,0

In [117]:
G

0

In [118]:
L

0

In [119]:
P

0

In [122]:
import pandas as pd
df = pd.read_csv("/Users/osita/Documents/MATLAB/Kaggle/heart.csv")
df = pd.DataFrame(df)

df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
47,47,1,2,138,257,0,0,156,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1
118,46,0,1,105,204,0,1,172,0,0.0,2,0,2,1
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2,1
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2,1
157,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3,1

In [123]:
df.shape

(303, 14)

In [125]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [130]:
XB = df.sex.astype(object)

In [131]:
type(XB)

pandas.core.series.Series

In [139]:
XC = pd.DataFrame(XB.describe())

In [142]:
XC.columns.

Index(['sex'], dtype='object')

In [134]:
df.age.describe()

count    303.000000
mean      54.366337
std        9.082101
min       29.000000
25%       47.500000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

In [135]:
df.sex.describe()

count    303.000000
mean       0.683168
std        0.466011
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: sex, dtype: float64

In [ ]:
model = svm_train(list(ytr), [list(r) for r in Hx], ('-b 1 -c 4 -t 4'))

p_label, p_acc, p_val = svm_predict(list(yte),[list(row) for row in Ht], model, ('-b 1'))